body {
    text-align: center;
}

header {
    font-size: 1.5em;
    font-family: 'Architects Daughter';
}

#dashboard {
    background-color: LawnGreen;
}

.tower-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    /* background-color: DodgerBlue; */
}

.tower-container > #towerA, #towerB, #towerC {
    display: flex;
    flex-direction: column;
    /* background-color: #f1f1f1; */
    margin: 10px;
    line-height: 300px;
}

.tower-columns {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; /* Need to set this property on the column */
    width: 10px;
    background-color: DodgerBlue; 
}

.tower-bases {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    line-height: 10px;
    width: 165px;
    background-color: DodgerBlue;
}

.discs {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    line-height: 15px;
}

#towerA-column {
    height: 15px;
}

#towerB-column {
    height: 135px;
}

#towerC-column {
    height: 135px;
}

#disc1 { 
    width: 30px;
    background-color: yellow;
}

#disc2 {
    width: 45px;
    background-color: blueviolet;
}

#disc3 {
    width: 60px;
    background-color: green;
}

#disc4 {
    width: 75px;
    background-color: red;
}

#disc5 {
    width: 90px;
    background-color: orange;
}

#disc6 {
    width: 105px;
    background-color: Chartreuse;
}

#disc7 {
    width: 120px;
    background-color: Magenta;
}

#disc8 {
    width: 135px;
    background-color: MediumBlue;
}

