body {
    text-align: center;
}

header {
    font-size: 1.5em;
    font-family: 'Architects Daughter';
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside {
    width: 300px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Architects Daughter';
}

#game {
    display: flex;
    flex-direction: column;
}
#dashboard {
    display: flex;
    flex-direction: row;
    font-family: 'Architects Daughter';
}

#number-of-discs {
    margin-left: 10px;
}

#moves {
	padding-top: 8px;
}

#minimum-moves {
	margin-left: 10px;
}

#your-moves {
    margin-left: 20px;
}

#reset-and-log {
	width: 150px;
	margin: auto;
}

.buttons {
    font: bold 13px Arial, sans-serif;
    border-radius: 10px;
    outline-style: none;
}

.tower-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 160px;
    /* background-color: DodgerBlue; */
}

.info-container {
    height: 500px;
    margin-top: 20px;
    font-family: 'Architects Daughter';
}

.tower-container > #towerA, #towerB, #towerC {
    display: flex;
    flex-direction: column;
    /* background-color: #f1f1f1; */
    margin: 10px;
    height: 300px;
}

.tower-columns {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    background-color: DodgerBlue; 
}

.tower-bases {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 165px;
    background-color: DodgerBlue;
}

.discs {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
}

#towerA-column {
    height: 15px;
}

#towerB-column {
    height: 135px;
}

#towerC-column {
    height: 135px;
}

